USE [master]
GO
/****** Object:  Database [dbConsult]    Script Date: 20/06/2019 22:47:25 ******/
CREATE DATABASE [dbConsult]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbConsult', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\dbConsult.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbConsult_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\dbConsult_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbConsult].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbConsult]
GO
/****** Object:  Table [dbo].[Consults]    Script Date: 20/06/2019 22:47:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consults](
	[id] [int] NOT NULL,
	[consultStartAt] [datetime] NULL,
	[consultFinishAt] [datetime] NULL,
	[consultNotes] [text] NULL,
	[patientName] [varchar](50) NULL,
	[patientBornIn] [date] NULL,
 CONSTRAINT [PK_Consults] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
